<div class="confirmation-container">
  <div class="confirmation-items">
    <div class="confirmation-header"> Success! <fa-icon [icon]="fagift"></fa-icon>
    </div>
    <div class="confirmation-item">Thank you, <b>{{ name }} </b><br /></div>
    <div class="confirmation-item"> Your <b>{{ totalPrice | currency: "USD" }}</b> order
      is confirmed!<br /></div>
    <div class="confirmation-item"> Please allow 1-3 business day(s) for shipping<br /></div>
    <a routerLink="/">Return to product list</a>

  </div>
</div>
