img {
    width: 100px;
    border-radius: 10px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.number-input {
    width: 80px;
    text-align: center;
}

.cart-panel {
    margin-left: 50px;
    margin-right: 50px;
}